# Ficheros de datos
/raw/bancario/*.xml
/raw/fiatc/*.csv
!/raw/bancario/example.xml
!/raw/fiatc/example.csv
/data/finanzas.parquet

# Ficheros para el entorno
/.venv

# Ficheros de cache
__pycache__/

# Ficheros de testing
.coverage
.pytest_cache/
htmlcov/